<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
  {% if title %}
  	<title>{{ title }} - Super Practicals</title>
  {% else %}
  	<title>Super Practicals</title>
  {% endif %}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
              {% block content %}
              {% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
