{% extends "base.html" %}
{% block content %}
<form class="form-signin" method="POST" action="">
  {{ form.hidden_tag () }}
  <div class="form-label-group">

    {% if form.title.errors %}
      {{ form.title(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.title.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.title(class="form-control") }}
    {% endif %}
    {{ form.title.label }}

  </div>


  <div class="form-label-group">

    {% if form.content.errors %}
      {{ form.content(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.content.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.content(class="form-control") }}
    {% endif %}
    {{ form.content.label }}
  </div>
  {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}
</form>
{% endblock content %}
