{% extends 'base.html' %}
{% block content %}
  <p>{{ practical.degStudy}}</p>
  <p>{{ practical.subject}}</p>
  <p>{{ practical.equipment}}</p>
  <p>{{ practical.method}}</p>
  <div>
    <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('practicals.update_practical', practical_title=practical.title) }}">Update</a>
    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Practical</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you wish to delete this practical?</p>
            <p>You will NOT be able to revert these changes.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <!-- Need to create delete_practical route -->
            <form action="{{ url_for('practicals.delete_practical', practical_title=practical.title) }}" method="POST">
              <input class="btn btn-danger btn-primary" type="submit" value="Delete Practical">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
