{% extends "base.html" %}
{% block content %}
  <form method="POST" action="">
  <table>
    <tr>
      <th></th>
      <th>{{ in_var }}</th>
    </tr>
    <tr>
      <th>{{ dep_var }}</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>Mean</th>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
  </table>
  {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}
  </form>
{% endblock %}
